# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
x64/
Debug/
Release/
bin/
obj/

# C++ cache files
*.VC.db
*.VC.VC.opendb

# Others
*.log
*.tlog
*.cache
*.pdb
*.ipch
*.dll
*.exe
*.db
*.opendb
